<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DataSourcePath" value="C:\Users\marie\Desktop\skola\2. leto\bible\BibleVizualization\dataSources" />
		<add key="FirstPickBible" value="BKR.SQLite3" />
		<add key="CommentariesToUse" value="" />
		<add key="CrossreferenceToUse" value="" />
	</appSettings>
</configuration>