<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PreProcessingNeeded" value="false" /> <!-- In regular use is set to false, true only when adding new data files or updating - to update delete old-->
		<add key="DataToPreprocessList" value= "" /> <!--Preprocess these files in ToPreprocess, or all in ToPreprocess if empty-->
		
		<add key="DataSourcePath" value="C:\Users\marie\Desktop\skola\2.leto\bible\BibleVizualization\dataSources" /> <!--folder with "BibleTranslations", "CrossReferences", "Preprocessed" "ToPreprocess" folders--> 
		<add key="FirstPickBible" value="ESV.SQLite3" /> <!--In BibleTranslations-->
		<add key="CommentariesToUse" value="" /> <!-- In Preprocessed, names separated by ";", if empty use all-->
		<add key="CrossreferenceToUse" value="" /> <!-- In CrossReferences,names separated by ";", if empty use all-->
		
	</appSettings>
</configuration>