<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="bookSection" type="DataStructures.BookSection, DataStructures" />
	</configSections>
	
	<appSettings>
		<!-- PREPROCESSING -->
		<add key="PreProcessingNeeded" value="false" /> <!-- In regular use is set to false, true only when adding new data files or updating - to update delete old-->
		<add key="DataToPreprocessList" value= "" /> <!--Preprocess these files in ToPreprocess, or all in ToPreprocess if empty-->
		
		<!-- WHAT DATA TO USE -->
		<add key="DataSourcePath" value="C:\Users\marie\Desktop\skola\2.leto\bible\BibleVizualization\dataSources" /> <!--folder with "BibleTranslations", "CrossReferences", "Preprocessed" "ToPreprocess" folders--> 
		<add key="CommentariesToUse" value="" /> <!-- In Preprocessed, names separated by ";", if empty use all-->
		<add key="CrossreferenceToUse" value="" /> <!-- In CrossReferences,names separated by ";", if empty use all-->
		<add key="DictionariesToUse" value="" /> <!-- In Preprocessed ,names separated by ";", if empty use all-->

		<!-- INITIAL SETTINGS -->
		<add key="FirstPickBible" value="ESV.SQLite3" /> <!--In BibleTranslations-->
		<add key="SearchTypeIndex" value="3"/> <!-- determines the initial link requirement setting - 0 = „inside“, 1 = „to“, 2 = „from“, 3 = „all“ -->

	</appSettings>
	
	<bookSection>
		<books>
			<add shortName="Gen" longName="Genesis" number="10" />
			<add shortName="Exo" longName="Exodus" number="20" />
			<add shortName="Lev" longName="Leviticus" number="30" />
			<add shortName="Num" longName="Numeri" number="40" />
			<add shortName="Deu" longName="Deuteronomium" number="50" />
			<add shortName="Joz" longName="Jozue" number="60" />
			<add shortName="Sou" longName="Soudců" number="70" />
			<add shortName="Rut" longName="Rut" number="80" />
			<add shortName="1Sa" longName="1 Samuelova" number="90" />
			<add shortName="2Sa" longName="2 Samuelova" number="100" />
			<add shortName="1Krá" longName="1 Královská" number="110" />
			<add shortName="2Krá" longName="2 Královská" number="120" />
			<add shortName="1Par" longName="1 Paralipomenon" number="130" />
			<add shortName="2Par" longName="2 Paralipomenon" number="140" />
			<add shortName="Ezd" longName="Ezdráš" number="150" />
			<add shortName="Neh" longName="Nehemiáš" number="160" />
			<add shortName="Est" longName="Ester" number="190" />
			<add shortName="Job" longName="Job" number="220" />
			<add shortName="Žalm" longName="Žalmy" number="230" />
			<add shortName="Přís" longName="Přísloví" number="240" />
			<add shortName="Kaz" longName="Kazatel" number="250" />
			<add shortName="Pís" longName="Píseň Šalamounova" number="260" />
			<add shortName="Iz" longName="Izaiáš" number="290" />
			<add shortName="Jer" longName="Jeremiáš" number="300" />
			<add shortName="Pláč" longName="Pláč Jeremiášův" number="310" />
			<add shortName="Ez" longName="Ezechiel" number="330" />
			<add shortName="Dan" longName="Daniel" number="340" />
			<add shortName="Oze" longName="Ozeáš" number="350" />
			<add shortName="Joel" longName="Joel" number="360" />
			<add shortName="Amos" longName="Amos" number="370" />
			<add shortName="Abd" longName="Abdiáš" number="380" />
			<add shortName="Jon" longName="Jonáš" number="390" />
			<add shortName="Mic" longName="Micheáš" number="400" />
			<add shortName="Nah" longName="Nahum" number="410" />
			<add shortName="Aba" longName="Abakuk" number="420" />
			<add shortName="Sof" longName="Sofoniáš" number="430" />
			<add shortName="Agg" longName="Aggeus" number="440" />
			<add shortName="Zac" longName="Zachariáš" number="450" />
			<add shortName="Mal" longName="Malachiáš" number="460" />
			<add shortName="Mat" longName="Matouš" number="470" />
			<add shortName="Mar" longName="Marek" number="480" />
			<add shortName="Luk" longName="Lukáš" number="490" />
			<add shortName="Jan" longName="Jan" number="500" />
			<add shortName="Skut" longName="Skutky" number="510" />
			<add shortName="Řím" longName="Římanům" number="520" />
			<add shortName="1Kor" longName="1 Korintským" number="530" />
			<add shortName="2Kor" longName="2 Korintským" number="540" />
			<add shortName="Gal" longName="Galatským" number="550" />
			<add shortName="Ef" longName="Efezským" number="560" />
			<add shortName="Fil" longName="Filipenským" number="570" />
			<add shortName="Kol" longName="Kolossenským" number="580" />
			<add shortName="1Tes" longName="1 Tessalonicenským" number="590" />
			<add shortName="2Tes" longName="2 Tessalonicenským" number="600" />
			<add shortName="1Timo" longName="1 Timoteovi" number="610" />
			<add shortName="2Tim" longName="2 Timoteovi" number="620" />
			<add shortName="Tit" longName="Titovi" number="630" />
			<add shortName="Flm" longName="Filemonovi" number="640" />
			<add shortName="Žid" longName="Židům" number="650" />
			<add shortName="Jak" longName="Jakub" number="660" />
			<add shortName="1Pe" longName="1 Petrova" number="670" />
			<add shortName="2Pe" longName="2 Petrova" number="680" />
			<add shortName="1Jan" longName="1 Janova" number="690" />
			<add shortName="2Jan" longName="2 Janova" number="700" />
			<add shortName="3Jan" longName="3 Janova" number="710" />
			<add shortName="Jud" longName="Judova" number="720" />
			<add shortName="Zjev" longName="Zjevení" number="730" />
		</books>
	</bookSection>
	
</configuration>